<a href="https://colab.research.google.com/github/juliailmi09/KKA-X-Semester-1/blob/main/2_type_variabel_julia_sanggar_ilmi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Julia Sanggar Ilmi

Kelas: X. 11

No. absen: 16

#Konsep Dasar Variabel

In [ ]:
print("ghinaanam.2025@gmail.com")
print("ghinaanam.2025@gmail.com")
print("ghinaanam.2025@gmail.com")

ghinaanam.2025@gmail.com
ghinaanam.2025@gmail.com
ghinaanam.2025@gmail.com

In [ ]:
email_user_1 = "ghinaanam.2025@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)

TypeError: 'str' object is not callable

#Peraturan Penamaan Variabel

In [ ]:
#Hanya diperbolehkan menggunakan huruf, angka, dan underscore
email_user_2 = "bobbyaliando@gmail.com"
print (email_user_2)

bobbyaliando@gmail.com

In [ ]:
emailuser2 = "bobbyaliando@gmail.com"

print(emailuser2)

bobbyaliando@gmail.com

In [ ]:
#Tidak boleh didahului angka
3_email_user = "willytaulany@gmail.com"

print(3_email_user)

SyntaxError: invalid decimal literal (ipython-input-4198172721.py, line 2)

In [ ]:
email_user_3 = "willytaulany@gmail.com"

print(email_user_3)

willytaulany@gmail.com

In [ ]:
#Tidak boleh menggunakan kata kunci python
for = "HimamHimawan@gmail.com"

SyntaxError: invalid syntax (ipython-input-3021037871.py, line 2)

In [ ]:
For = "HimamHimawan@gmail.com"

print(For)

HimamHimawan@gmail.com

In [ ]:
print = "Juliawati@gmail.com"

print(print)

TypeError: 'str' object is not callable

In [ ]:
Print = "Juliawati@gmail.com"

print(Print)

Juliawati@gmail.com

In [ ]:
#tidak eror tapi dianjurkan harus deskriptif
_ = "Devandraarnoldi@gmail.com"

In [ ]:
print(_)

Devandraarnoldi@gmail.com

In [ ]:
_ = "haidarhalilintar@gmail.com"

In [ ]:
print(_)

haidarhalilintar@gmail.com

#Assigment

In [ ]:
#Single assigment
nama_mahasiswa_1 = "Alexandrio"

print(nama_mahasiswa_1)

Alexandrio

In [ ]:
#Multiple Assignment

# nama_barang_1 = "rinso"
# nama_barang_2 = "molto"

nama_barang_1, nama_barang_2 = "rinso", "molto"

print(nama_barang_1)
print(nama_barang_2)

rinso
molto

In [ ]:
#Assignment yang sama
nilai_devandra = nilai_willy = nilai_dzakki = 100

print(nilai_devandra)
print(nilai_willy)
print(nilai_dzakki)

100
100
100

In [ ]:
#Menimpa/Mengubah Nilai Variabel

nilai_himam = 95

In [ ]:
print(nilai_himam)

95

In [ ]:
nilai_himam = 100

In [ ]:
print(nilai_himam)

100

#Penggunaan Operator di Python

In [ ]:
#Tanpa Variabel
print(20+3)

23

In [ ]:
#Operand disimpan ke dalam variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

print(roti_swiss_alex + roti_swiss_nazril)

23

In [ ]:
#Hasil operasi disimpan ke dalam variabel
jumlah_roti_swiss = 20+3

print(jumlah_roti_swiss)

23

In [ ]:
#soal no. 1 (Tanpa variabel)
print(24 * 3)

72

In [ ]:
#soal no. 2 (Hasil operasi disimpan ke dalam variabel)
Total_jumlah_botol = 24 * 3

In [ ]:
#soal no. 3 (Operand disimpan kedalam variabel)
Banyak_botol_per_kardus = 24
Jumlah_kardus = 3

print(Banyak_botol_per_kardus * Jumlah_kardus)

TypeError: 'str' object is not callable

In [ ]:
#soal no. 4

#Operator Aritmatika

In [ ]:
buku_tulis_himam = 55
buku_tulis_vico = 15

In [ ]:
#Penjumlahan
total_buku_tulis = buku_tulis_himam + buku_tulis_vico
print(total_buku_tulis)

TypeError: 'str' object is not callable

In [ ]:
#Pengurangan

selisi_buku_tulis = buku_tulis_himam - buku_tulis_vico
print(selisi_buku_tulis)

TypeError: 'str' object is not callable

In [ ]:
#Perkalian
jumlah_kardus_buku_tulis = 3
isi_buku_tulis_perkardus = 10

total_buku_tulis = jumlah_kardus_buku_tulis * isi_buku_tulis_perkardus

print(total_buku_tulis)

TypeError: 'str' object is not callable

In [ ]:
#Pembagian
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis / jumlah_anak_yatim
print(jumlah_buku_tulis_tiap_anak)

TypeError: 'str' object is not callable

In [ ]:
#Pembagian bulat
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis // jumlah_anak_yatim
print(jumlah_buku_tulis_tiap_anak)

TypeError: 'str' object is not callable

In [ ]:
#Sisa bagi

sisa_buku_tulis = total_buku_tulis % jumlah_anak_yatim
print(sisa_buku_tulis)

TypeError: 'str' object is not callable

In [ ]:
#Perpangkatan

sisi = 5
luas_persegi = sisi ** 2

print(luas_persegi)

TypeError: 'str' object is not callable

In [ ]:
luas_persegi = 36

sisi = luas_persegi ** (1/2)
print(sisi)

TypeError: 'str' object is not callable

Latihan Soal

In [ ]:
#soal no. 1 (Penjumlahan)

apel_dina = 8
apel_ibu_dina = 5
total_apel = apel_dina + apel_ibu_dina

print(total_apel)

TypeError: 'str' object is not callable

In [ ]:
#soal no. 2 (Pengurangan)

mangga_1 = 30
mangga_2 = 12

total_mangga = mangga_1 - mangga_2
print(total_mangga)

TypeError: 'str' object is not callable

In [ ]:
#soal no. 3 (Perkalian)

meja_kelas = 6
meja_1 = 4

total_jumlah_siswa = meja_kelas * meja_1
print(total_jumlah_siswa)

TypeError: 'str' object is not callable

In [ ]:
soal no. 4 (Pembagian)

jumlah_jeruk = 28
jumlah_keranjang = 7

jumlah_jeruk_setiap_keranjang = jumlah_jeruk  /  jumlah_keranjang
print(jumlah_jeruk_setiap_keranjang)

SyntaxError: invalid syntax (ipython-input-221757886.py, line 1)

#Tipe Variabel

In [ ]:
usia = 8

print(usia)
type(usia)

TypeError: 'str' object is not callable

In [ ]:
berat_badan = 72.5

type(berat_badan)

float

In [ ]:
lulus = True

type(lulus)

bool

In [ ]:
titik_koordinat = -5
type(titik_koordinat)

int

In [ ]:
titik_koordinat_bintang = -10.0
type(titik_koordinat_bintang)

float

#Konversi Tipe Data

In [ ]:
usia = 7
print(usia)
type(usia)

7

int

In [ ]:
usia = float(usia)
print(usia)
type(usia)

7.0

float

In [ ]:
berat_badan = 72.5
print(berat_badan)
type(berat_badan)

72.5

float

In [ ]:
berat_badan = int(berat_badan)
print(berat_badan)
type(berat_badan)

72

int

In [ ]:
usia = 7
print(usia)
type(usia)

7

int

In [ ]:
usia = str(usia)
print(usia)
type(usia)

7

str

In [ ]:
lulus = 1
print(lulus)
type(lulus)

1

int

In [ ]:
lulus = bool(lulus)
print(lulus)
type(lulus)

True

bool

In [ ]:
lulus = 0
print(lulus)
type(lulus)

0

int

In [ ]:
lulus = bool(lulus)
print(lulus)
type(lulus)

False

bool